@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    position: sticky;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
}

nav {
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
} 

.logo span {
    color: rgb(211, 3, 3);
    text-shadow: 0 0 10px rgb(211, 3, 3);
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem,0.5rem + 5vw, 3rem);
}

.nav-container .links {
    display: flex;
}

.nav-container .links a {
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a:hover {
    color:rgb(211, 3, 3);
    border-bottom: 2px solid rgb(211, 3, 3);
}

.dropdown {
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;

}

.dropdown .links a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover {
    background-color: rgb(211, 3, 3);
}

section {
    width: 100%;
    height: 90vh;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .content {
    color: white;
    width: 40%;
    min-height: 100px;
}

.content h1 {
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span {
    font-weight: 700;
    text-shadow: 0 0 10px rgb(211, 3, 3);
    color: rgb(211, 3, 3);
}

.content .typing-text {
    font-size: clamp(1rem, 1rem + 5vw, 2rem);
    font-weight: 700;
}

.typing-text span {
    color: rgb(211, 3, 3);
    text-shadow: 0 0 10px rgb(211, 3, 3);
}

.content p {
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid rgb(211, 3, 3);
    border-radius: 50%;
    color: rgb(211, 3, 3);
    margin: 0 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover {
    scale: 1.3;
    filter: drop-shadow(0 0 10px rgb(211, 3, 3));
    color: black;
    background-color: rgb(211, 3, 3);
}

.content button {
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: rgb(211, 3, 3);
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover {
    scale: 1.1;
    color: rgb(211, 3, 3);
    border: 2px solid rgb(211, 3, 3);
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px 5px rgb(211, 3, 3);
}

.main-container .image {
    border-radius: 50%;
}

.main-container .image img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid rgb(211, 3, 3);
    cursor: pointer;
    transition: 0.2s linear;

}

.main-container .image:hover {
    animation: animate 1.5 ease-in-out infinite;
}

@keyframes animate {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.05;
    }
    100% {
        scale: 1;
    }
}

@media (max-width:884px) {
    nav .logo {
        position: sticky;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .nav-container .links {
        display: none;
    }

    .hamburg,
    .cancel {
        display: block;
    }

    .main-container .content {
        width: 80%;
    }

    .social-links i {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1rem;
    }

    .main-container .image {
        margin-top: 150px;
        width: 60%;
        height: 60%;
    }

    .content .typing-text {
        font-size: 25px;
    }

    .typing-text span {
        font-size: 25px;
    }

    .content .btn {
        font-size: 50%;
        font-weight: 700;
        border-radius: 5px;
    }
}
    

@media (max-width:440px) {
    .main-container .image {
        margin-top: 150px;
        height: 60%;
        width: 70%;
    }
    
    .main-container .content {
        width: 80%;
        margin-bottom: 10px;
    }

    .main-container button {
        margin-bottom: 100px;
        margin-top: 20px;
        font-size: 100%;
        font-weight: 700;
        border-radius: 5px;
    }

    .content .typing-text {
        font-size: 25px;
    }

    .typing-text span {
        font-size: 25px;
    }
}

@media (max-width:375px) {
    .main-container .image {
        margin-top: 100px;
        height: 60%;
        width: 70%;
    }
    
    .main-container .content {
        width: 80%;
    }

    .main-container button {
        margin-top: 100px;
        margin-bottom: 50px;
        font-size: 100%;
        font-weight: 700;
        border-radius: 5px;
    }

    .content .typing-text {
        font-size: 20px;
    }

    .typing-text span {
        font-size: 20px;
    }
}

.typing-text{
    font-size: 15px;
    font-weight: 600;
    min-width: 280px;
    margin-bottom: 20px;
}

.typing-text span{
    position: sticky;
}

.typing-text span::before{
    content: "software Developer";
    color: rgb(211, 3, 3);
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid rgb(211, 3, 3);
    }
}

@keyframes words{
    0%, 20%{
        content: "Web Developer";
    }
    21%, 40%{
        content: "Developer";
    }
    41%, 60%{
        content: "Web Designer";
    }
    61%, 80%{
        content: "CSE Student";
    }
    81%, 100%{
        content: "Script Writer";
    }
}